<div class="w-full h-full">

  <form [formGroup]="form" enctype="multipart/form-data" class=" p-4 rounded w-full h-full space-y-4">

    <div class="h-[calc(100%_-_60px)]  space-y-4 flex flex-col overflow-auto">
      <div class="flex text-text-base flex-col">
        <label for="title">Titulo: </label>
        <input formControlName="title" class="p-2 rounded border" id="title"
               placeholder="Introduzca un titulo válido" type="text">
      </div>

      <div class="flex text-text-base flex-col">
        <label for="description">Descripción: </label>
        <input formControlName="description" class="p-2 rounded border" id="description"
               placeholder="Introduzca una descripción válida" type="text">
      </div>

      <div class="flex text-text-base flex-col">
        <label for="ingredients">Ingredientes: </label>
        <input #ingredientsInput (keydown.enter)="add('ingredients')" class="p-2 rounded border"
               id="ingredients" placeholder="Introduzca unos ingredientes válidos" type="text">
        <div class="mt-4 flex flex-wrap space-x-2">
                        <span *ngFor="let ingredient of ingredients; let i = index"
                              class="rounded-full space-x-2 mt-2 border-secondary border border-solid px-[16px] cursor-default">
                            <i (click)="delete(i, 'ingredients')" class="bi bi-x-circle cursor-pointer"></i>
                          {{ ingredient.ingredient }}</span>
        </div>
      </div>

      <div class="flex text-text-base flex-col">
        <label for="preparations">Preparación: </label>
        <input #preparationInput (keydown.enter)="add('preparations')" class="p-2 rounded border"
               id="preparations" placeholder="Introduzca unas preparaciones válidas" type="text">
        <div class="mt-4 flex flex-wrap space-x-2">
                        <span *ngFor="let preparation of preparations; let i = index"
                              class="rounded-full space-x-2 mt-2 border-secondary border border-solid px-[16px] cursor-default">
                            <i (click)="delete(i, 'preparations')" class="bi bi-x-circle cursor-pointer"></i>
                          {{ preparation.preparation }}</span>
        </div>
      </div>

      <div class="flex text-text-base flex-col">
        <label for="category">Categoría: </label>
        <select class="p-2 rounded border" id="category" formControlName="category">
          <option *ngFor="let category of categories" value="{{ category?.id }}">{{ category?.name }}
          </option>
        </select>
      </div>


      <div class="flex text-text-base flex-col">
        <label for="hashtags">Hashtags: </label>

        <input #hashtagInput (keydown.enter)="add('hashtags')" class="p-2 rounded border" id="hashtags"
               placeholder="Introduzca unos hashtags válidos" type="text"/>

        <div class="mt-4 flex flex-wrap space-x-2">
                        <span *ngFor="let hashtag of hashtags; let i = index"
                              class="rounded-full space-x-2 mt-2 border-secondary border border-solid px-[16px] cursor-default">
                            <i (click)="delete(i, 'hashtags')" class="bi bi-x-circle cursor-pointer"></i> {{
                            hashtag.hashtag
                          }}
                        </span>
        </div>
      </div>

      <div class="flex text-text-base flex-col">
        <label for="principalImage">Selecciona una imagen portada:</label>
        <input type="file" id="principalImage" (change)="onFilePrincipalSelected($event)"
               accept="image/*"/>
      </div>

      <div class="flex text-text-base flex-col">
        <label for="recipeImages">Selecciona imágenes de la receta:</label>
        <input type="file" id="recipeImages" (change)="onFileRecipeSelected($event)" multiple
               accept="image/*"/>
      </div>

      <div *ngIf="selectedRecipeImages.length > 0">
        <p>Imágenes de recetas seleccionadas:</p>
        <ul>
          <li *ngFor="let img of selectedRecipeImages; let i = index"><i (click)="delete(i, 'images')"
                                                                         class="bi bi-x-circle cursor-pointer space-x-2"></i> {{ img.name }}
          </li>
        </ul>
      </div>
    </div>


    <div class="flex w-full items-center justify-end space-x-2 h-[60px]">
      <div class=" flex justify-end items-center">
        <button type="button" (click)="close()"
                class="px-[16px] h-[32px] rounded-full border-secondary border border-solid text-text-base">Cancelar
        </button>
      </div>
      <div class=" flex justify-end items-center">
        <button type="button" (click)="update()"
                class="px-[16px] h-[32px] rounded-full bg-accent text-text-inverted">Actualizar
        </button>
      </div>
    </div>
  </form>

</div>
