<div class="w-full h-[calc(100vh_-_56px)] bg-primary">
    <div class="w-full flex justify-center flex-col space-y-2 items-center">
        <div class="w-full max-h-[100px] flex rounded bg-secondary justify-center ">
            <img (error)="onImageError($event)" class="object-cover rounded"
                src="http://localhost:3002{{recipe?.images?.[0]?.url}}">
        </div>
        <div class=" w-full h-full space-y-2">
            <div class="w-full flex justify-center items-center">
                <span class="text-3xl">{{recipe?.title}}</span>
            </div>

            <div class="w-full flex justify-center items-center">
                <span class="text-xl">{{recipe?.description}}</span>
            </div>

             <div class="w-full flex justify-center items-center">
                <ul class="list-disc">
                    <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient.ingredient }}</li>
                </ul>
            </div>
             <div class="w-full flex justify-center items-center">
                 <ol class="list-decimal">
                    <li *ngFor="let preparation of recipe?.preparations">{{ preparation.preparation }}</li>
                </ol>
            </div>
            <div class="w-full flex justify-center items-center">
                <span *ngFor="let hashtag of recipe?.hashtags" class="text-base">#{{hashtag?.hashtag}}</span>
            </div>

            <div class="w-full flex flex-wrap space-x-2 justify-center space-y-2">
                 <img *ngFor="let image of recipe?.images" (error)="onImageError($event)" class="object-cover w-32 h-32 rounded"
                src="http://localhost:3002{{image.url}}">
            </div>

        </div>

    </div>
</div>