<app-main-container>
  <div class="w-full flex justify-center flex-col items-center">
    <div class="w-full max-h-[100px] flex rounded bg-secondary justify-center ">
      <img (error)="onImageError($event)" class="object-cover rounded"
           src="http://localhost:3002{{recipe?.images?.[0]?.url}}">
    </div>
    <div class=" w-[800px] h-full space-y-4 p-4">
      <div class="w-full flex justify-center items-center">
        <span class="text-3xl">{{ recipe?.title }}</span>
      </div>

      <div class="w-full flex justify-center items-center">
        <span class="text-xl">{{ recipe?.description }}</span>
      </div>

      <div class="w-full flex flex-col space-y-4 justify-start items-start">
        <h1 class="text-xl w-full ">Ingredientes</h1>
        <app-separator class="w-full"></app-separator>
        <ul class="list-disc">
          <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient.ingredient }}</li>
        </ul>
      </div>
      <div class="w-full flex flex-col space-y-4 justify-start items-start">
        <h1 class="text-xl w-full ">Preparación</h1>
        <app-separator class="w-full"></app-separator>
        <ol class="list-decimal">
          <li *ngFor="let preparation of recipe?.preparations">{{ preparation.preparation }}</li>
        </ol>
      </div>
      <div class="w-full flex flex-col space-y-4 justify-start items-start">
        <h1 class="text-xl w-full ">Hashtags</h1>
        <app-separator class="w-full"></app-separator>
        <div class="flex flex-wrap justify-start items-start space-x-2">
          <span *ngFor="let hashtag of recipe?.hashtags"
                class="text-base mt-2 rounded-full border border-secondary border-solid px-[16px]">#{{ hashtag?.hashtag }}</span>
        </div>

      </div>

      <div class="w-full flex flex-col space-y-4  justify-center items-center ">
        <h1 class="text-xl w-full ">Imágenes</h1>
        <app-separator class="w-full"></app-separator>
        <div class="flex flex-wrap justify-start items-start space-x-2">
          <img *ngFor="let image of recipe?.images" (error)="onImageError($event)"
               class="object-cover w-32 h-32 rounded mt-2"
               src="http://localhost:3002{{image.url}}">
        </div>
      </div>

    </div>

  </div>
</app-main-container>
